<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net"
      type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="PaymentGatewayUrl"
      value="https://pay.contoso.com/api" />
    <add key="SmtpHost"
      value="smtp.contoso.com" />
    <add key="SmtpPort" value="587" />
    <add key="LowStockThreshold"
      value="10" />
    <add key="ReportCacheMinutes"
      value="15" />
  </appSettings>

  <connectionStrings>
    <add name="CommerceDb"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ContosoCommerce;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <appender name="ConsoleAppender"
      type="log4net.Appender.ConsoleAppender">
      <layout
        type="log4net.Layout.PatternLayout">
        <conversionPattern
          value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender"
      type="log4net.Appender.RollingFileAppender">
      <file value="App_Data\logs\app.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern
        value="yyyyMMdd" />
      <layout
        type="log4net.Layout.PatternLayout">
        <conversionPattern
          value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref
        ref="ConsoleAppender" />
      <appender-ref
        ref="FileAppender" />
    </root>
  </log4net>

  <entityFramework>
    <defaultConnectionFactory
      type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider
        invariantName="System.Data.SqlClient"
        type="System.Data.Entity.SqlServer.SqlServerSpatialServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.web>
    <compilation debug="true"
      targetFramework="4.8" />
    <httpRuntime
      targetFramework="4.8"
      maxRequestLength="10240" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RequestTimingModule"
        type="ContosoCommerce.Api.Modules.RequestTimingModule, ContosoCommerce.Api" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
        path="*."
        verb="*"
        type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding
      xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity
          name="Newtonsoft.Json"
          publicKeyToken="30ad4fe6b2a6aeed"
          culture="neutral" />
        <bindingRedirect
          oldVersion="0.0.0.0-13.0.0.0"
          newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity
          name="System.Web.Http"
          publicKeyToken="31bf3856ad364e35"
          culture="neutral" />
        <bindingRedirect
          oldVersion="0.0.0.0-5.2.9.0"
          newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity
          name="System.Net.Http.Formatting"
          publicKeyToken="31bf3856ad364e35"
          culture="neutral" />
        <bindingRedirect
          oldVersion="0.0.0.0-5.2.9.0"
          newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity
          name="Unity.Abstractions"
          publicKeyToken="489b6accfaf20ef0"
          culture="neutral" />
        <bindingRedirect
          oldVersion="0.0.0.0-5.11.7.0"
          newVersion="5.11.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
